@charset "UTF-8";

/*----Обнуление----*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: inherit;
  display: inline-block;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------------------------------------------*/

/*-------Подключение шрифтов-------------------------*/

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.woff2") format("woff2");
  font-style: 300;
  font-weight: light;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-style: 400;
  font-weight: regular;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-style: 500;
  font-weight: medium;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-style: 600;
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-style: 400;
  font-weight: regular;
}

body {
  position: relative;
  font-family: "Raleway", sans-serif;
  color: #262931;
}

body.lock {
  overflow: hidden;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.btn {
  display: inline-block;
  min-width: 200px;
  padding: 10px 40px;
  text-align: center;
  font-size: 16px;
  background-color: #ffd12c;
  border-radius: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: #ffea2c;
}

.btn-bold {
  font-weight: 600;
}

.number {
  font-family: "Roboto", sans-serif;
}

.animated-link {
  position: relative;
}

.animated-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0px;
  background-color: #262931;
}

.animated-link:hover:before {
  width: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.animated-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 0;
  background-color: #262931;
  -webkit-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
}

.animated-link:hover:after {
  width: 100%;
}

.burger {
  position: relative;
  display: none;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.burger span {
  display: inline-block;
  position: absolute;
  top: 8px;
  height: 2px;
  width: 20px;
  background-color: #000;
}

.burger:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 20px;
  background-color: #000;
}

.burger:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 20px;
  background-color: #000;
}

.burger.active span {
  display: none;
}

.burger.active:before {
  top: 44.5%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active:after {
  bottom: 44.5%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-top {
  width: 100%;
  background-color: #f6f8fb;
}

.header-top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.header-top__content-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.header-top__content-left .tel-icon {
  max-width: 18px;
}

.header-top__content-left a {
  margin: 0 20px 0 0;
}

.header-top__content-tel {
  font-family: "Roboto", serif;
}

.header-top__content-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__content-right a {
  margin-left: 20px;
}

.header-top a {
  padding-top: 5px;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 15px;
}

.header-content__search {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.header-content__search form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 250px;
  border: 1px solid #dfe3ea;
  border-radius: 40px;
  padding: 5px 5px;
}

.header-content__search form button {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.header-content__search form button:hover {
  background-color: #dfe3ea;
}

.header-content__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  text-align: center;
  font-size: 30px;
}

.header-content__enter-buttons {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-input {
  padding: 5px 15px;
  border-radius: 40px;
  font-size: 14px;
}

.enter-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  width: 35px;
  margin-left: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.enter-button-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
}

.enter-button-icon-auth {
  background-image: url("../img/icons/authorization.svg");
}

.enter-button-icon-fav {
  background-image: url("../img/icons/favorites.svg");
}

.enter-button-icon-cart {
  background-image: url("../img/icons/cart.svg");
}

.enter-button:hover {
  background-color: #f6f8fb;
  -webkit-box-shadow: 0px 0px 15px #f6f8fb;
          box-shadow: 0px 0px 15px #f6f8fb;
}

.search-icon {
  max-width: 100%;
}

.main-nav {
  position: relative;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #dfe3ea;
  border-bottom: 1px solid #dfe3ea;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav__list-item {
  position: relative;
  font-size: 16px;
}

.main-nav-link {
  position: relative;
  display: inline-block;
  padding: 6px 0;
}

.main-nav-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  height: 3px;
  width: 0;
  background-color: #ffd12c;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.main-nav-link:hover:after {
  width: 15px;
}

.main-nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 0;
  background-color: #ffd12c;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.main-nav-link:hover:before {
  width: 15px;
}

.main-nav-submenu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  background-color: #fff;
  opacity: 0;
  z-index: -9;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.main-page .main-nav-submenu {
  display: none;
}

.main-nav-submenu:hover {
  opacity: 1;
  z-index: 999;
}

.main-nav-submenu.active {
  opacity: 1;
  z-index: 999;
}

.main-nav-submenu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav-submenu-column {
  margin: 30px 0;
}

.main-nav-submenu-column:not(:last-child) {
  margin-right: 50px;
}

.main-nav-submenu-title {
  margin-bottom: 10px;
  font-weight: 600;
}

.main-nav-submenu-link {
  display: inline-block;
  margin-bottom: 10px;
}

.main-nav-submenu-link:hover {
  color: #818690;
}

.baner {
  margin: 20px 0 80px;
}

.baner-container-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.baner-img {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66%;
          flex: 0 0 66.66%;
}

.baner-description {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.33%;
          flex: 1 0 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 45px 30px;
}

.baner-description-title {
  margin-bottom: 25px;
  font-size: 42px;
  line-height: 48px;
  font-weight: 600;
}

.baner-description-text {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 24px;
}

.swiper-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px;
  color: #ffd12c;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.5;
}

.swiper-pagination-bullet {
  background: #ffd12c;
  opacity: 0.5;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 10px;
}

.catalog-section {
  margin-bottom: 80px;
  text-align: center;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -16px;
  margin-bottom: 20px;
}

.product-item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  border-radius: 30px;
  text-align: center;
}

.product-item:hover .product-hov {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-item-link::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.product-image {
  display: inline-block;
  max-width: 70%;
  margin-bottom: 10px;
}

.product-rating {
  margin-bottom: 10px;
}

.product-rating-star {
  height: 16px;
}

.product-name {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  color: #818690;
}

.product-description {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
}

.product-price {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.product-item picture,
.product-image,
.product-rating,
.product-name,
.product-description,
.product-price {
  z-index: 2;
}

.product-hov {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 125%;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px #a4a7ac;
          box-shadow: 0 0 15px #a4a7ac;
  background-color: #fff;
}

.product-features {
  -ms-flex-item-align: start;
      align-self: flex-start;
  z-index: 5;
}

.product-shortcuts {
  padding: 5px 8px;
  margin-right: 0px 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1;
  font-weight: 600;
  color: #fff;
}

.product-shortcuts-new {
  display: none;
  background-color: #25bc8b;
}

.product-shortcuts-sale {
  display: none;
  background-color: #e95959;
}

.new-list .product-shortcuts-new,
.sale-list .product-shortcuts-sale {
  display: inline-block;
}

.product-favorite-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 5;
}

.product-favorite-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/favorites.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.product-favorite-btn:hover {
  background-color: #f6f8fb;
  -webkit-box-shadow: 0px 0px 15px #f6f8fb;
          box-shadow: 0px 0px 15px #f6f8fb;
}

.product-buttons {
  margin: 0 -20px -10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 9;
}

.add-to-cart-btn {
  margin-bottom: 10px;
}

.add-to-cart-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-image: url("../img/icons/cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.quick-view-btn {
  border: 1px solid #e4e4e4;
  background-color: #fff;
}

.quick-view-btn:hover {
  background-color: #e4e4e4;
}

.quick-view-btn-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-image: url("../img/icons/eye.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.sets {
  margin-bottom: 80px;
  text-align: center;
}

.sets-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.sets-catalog-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  margin-bottom: 20px;
}

.sets-catalog-big {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
          flex: 0 0 66%;
}

.sets-catalog-item-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sets-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 30px;
  background-color: #f1f4f9;
  border-radius: 5px;
  color: #818690;
}

.sets-catalog-item-img {
  display: block;
  margin: 0 auto 30px;
  max-width: 80%;
}

.sets-catalog-item-name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  text-align: left;
}

.sets-catalog-item-name:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sets-catalog-item-price {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  color: #262931;
}

.sets-catalog-big .sets-card {
  min-height: 100%;
  padding: 60px 30px 30px;
}

.sets-catalog-big .sets-catalog-item-img {
  margin: 0 auto 60px;
}

.sets-catalog-item-2 .sets-card:not(:last-child) {
  margin-bottom: 20px;
}

.social-army {
  margin-bottom: 80px;
}

.social-army-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-army-fotos {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-army-fotos-item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 10px);
          flex: 0 0 calc(50% - 10px);
  margin-bottom: 20px;
  overflow: hidden;
  color: #fff;
}

.social-army-img {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.social-army-fotos-item:hover .social-army-img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.social-army-icon {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
  background-image: url("../img/icons/inst-white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-army-name {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 5;
  font-size: 16px;
  line-height: 1;
}

.social-army-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(148, 148, 148, 0.3);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.social-army-link:hover {
  background-color: rgba(148, 148, 148, 0);
}

.social-army-invite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.social-army-invite-insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.invite-insta-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid #d1d6db;
}

.invite-insta-icon:hover {
  background-color: #262931;
  border: 1px solid #262931;
}

.inst {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/inst.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.invite-insta-icon:hover .inst {
  background-image: url("../img/icons/inst-white.svg");
}

.invite-insta-count {
  margin-right: 15px;
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 300;
  color: #2f333b;
}

.social-army-invite-others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  border-top: 1px solid #e8eaec;
}

.invite-others-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.invite-others-item:not(:last-child) {
  margin-right: 50px;
}

.invite-others-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 1px solid #d1d6db;
}

.invite-others-item-link:hover {
  background-color: #262931;
  border: 1px solid #262931;
}

.invite-others-item-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.vk {
  background-image: url("../img/icons/vk.svg");
}

.invite-others-item-link:hover .vk {
  background-image: url("../img/icons/vk-white.svg");
}

.fb {
  background-image: url("../img/icons/fb.svg");
}

.invite-others-item-link:hover .fb {
  background-image: url("../img/icons/fb-white.svg");
}

.twit {
  background-image: url("../img/icons/twit.svg");
}

.invite-others-item-link:hover .twit {
  background-image: url("../img/icons/twit-white.svg");
}

.invite-others-item-count {
  font-family: "Roboto", sana-serif;
  font-size: 16px;
}

.subscription {
  padding: 30px 0;
  background-color: #f6f8fb;
}

.subscription-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription-title {
  font-size: 18px;
  font-weight: 600;
}

.subscription-form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.subscription-input {
  width: 50%;
  margin-right: 20px;
  padding: 10px 30px;
  border: 1px solid #d1d6db;
  border-radius: 30px;
  background-color: #fff;
}

.subscription-input::-webkit-input-placeholder {
  font-size: 16px;
}

.subscription-input::-moz-placeholder {
  font-size: 16px;
}

.subscription-input:-ms-input-placeholder {
  font-size: 16px;
}

.subscription-input::-ms-input-placeholder {
  font-size: 16px;
}

.subscription-input::placeholder {
  font-size: 16px;
}

.subscription-agreement {
  margin-top: 20px;
}

.subscription-agreement-check {
  background-color: #ffd12c;
}

.subscription-agreement-link {
  text-decoration: underline;
}

.company {
  margin-bottom: 80px;
}

.company-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.compani-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  padding: 15px;
  font-size: 14px;
  line-height: 1.3;
}

.company-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.company-logo-desription {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
}

.footer {
  padding-bottom: 30px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
  padding: 50px 0;
  border-top: 1px solid #e8eaec;
  border-bottom: 1px solid #e8eaec;
}

.footer-nav-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 20px);
          flex: 0 0 calc(25% - 20px);
}

.footer-nav-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-nav-list .animated-link:after,
.footer-nav-list .animated-link:before {
  background-color: #818690;
}

.footer-nav-item {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: #818690;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-info-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 20px);
          flex: 0 0 calc(25% - 20px);
  margin-right: 20px;
}

.footer-info-title {
  margin-bottom: 15px;
  font-size: 14px;
  color: #818690;
}

.footer-info-logo {
  max-width: 50%;
}

.footer-info-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border: 1px solid #818690;
  border-radius: 50%;
}

.footer-info-link-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-info-link:hover {
  border: 1px solid #262931;
  background-color: #262931;
}

.footer-info-link:hover .inst {
  background-image: url("../img/icons/inst-white.svg");
}

.footer-info-link:hover .fb {
  background-image: url("../img/icons/fb-white.svg");
}

.footer-info-link:hover .vk {
  background-image: url("../img/icons/vk-white.svg");
}

.footer-info-link:hover .twit {
  background-image: url("../img/icons/twit-white.svg");
}

.footer-info-payment {
  max-width: 20%;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-content {
  position: relative;
  max-width: 60%;
  max-height: 70%;
  padding: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 15px #000;
          box-shadow: 0 0 15px #000;
  background-color: #fff;
}

.close-popup {
  position: relative;
  width: 25px;
  height: 25px;
  float: right;
  cursor: pointer;
}

.close-popup:hover {
  background-color: #f6f8fb;
}

.close-popup-icon:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-popup-icon:after {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup-title {
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 20px;
}

.popup-input {
  display: block;
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: 1px solid #d1d6db;
  border-radius: 30px;
  font-size: 16px;
}

.call-back-text {
  margin-bottom: 20px;
}

.call-back-btn {
  width: 100%;
  margin-top: 20px;
  padding: 15px 20px;
  font-size: 16px;
}

.authorization-oneclick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.oneclick-link {
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

.oneclick-link-icon {
  width: 20px;
  height: 20px;
}

.registration-btn {
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffd12c;
  background-color: #fff;
}

.restore-pass {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
}

.popup-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-product-slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  padding: 15px;
  min-width: 0;
}

.popup-product-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  padding: 15px;
  text-align: left;
}

.popup-product-image {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.popup-product-swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide-img {
  max-width: 80%;
}

.popup-product-price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.popup-product-price-rub {
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
}

.popup-product-price-feedback {
  text-decoration: underline;
  font-weight: 300;
}

.popup-product-volume {
  display: inline-block;
  margin-bottom: 15px;
  padding: 5px 10px;
  border: 1px solid #d1d6db;
  border-radius: 3px;
  font-size: 18px;
}

.popup-product-description {
  margin-bottom: 15px;
}

.popup-product-description-link {
  display: inline-block;
  position: relative;
  padding-bottom: 7px;
  margin-bottom: 8px;
  font-weight: 600;
}

.popup-product-description-link:not(:last-child) {
  margin-right: 15px;
}

.popup-product-description-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  height: 3px;
  width: 0;
  background-color: #ffd12c;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.popup-product-description-link:hover:after {
  width: 15px;
}

.popup-product-description-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 0;
  background-color: #ffd12c;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.popup-product-description-link:hover:before {
  width: 15px;
}

.popup-product-description-link.active::before,
.popup-product-description-link.active::after {
  width: 15px;
}

.popup-product-description-text {
  display: none;
}

.popup-product-description-text.active {
  display: block;
  margin-bottom: 20px;
  line-height: 1.4;
}

.popup-product-form {
  margin-bottom: 20px;
}

.popup-product-form-input {
  display: inline-block;
  height: 100%;
  max-width: 75px;
  padding: 5px 10px 5px 20px;
  margin-right: 15px;
  border: 1px solid #d1d6db;
  border-radius: 30px;
  font-size: 18px;
}

.popup-product-favorites {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-product-favorites-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-image: url("../img/icons/favorites.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.popup-product-favorites-text {
  text-decoration: underline;
}

.popup-product-favorites-text:hover {
  text-decoration: none;
}

.catalog-baner {
  width: 100%;
  background: url("../img/page-baner.jpg") center center no-repeat;
  background-size: contain;
}

.catalog-title {
  padding: 150px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 600;
  color: #fff;
}

.site-nav {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dfe3ea;
}

.site-nav-categories {
  display: none;
  margin: 20px 0;
}

.site-nav-categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
}

.site-nav-categories-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  text-align: center;
  color: #fff;
}

.site-nav-categories-item:not(:last-child) {
  margin-right: 0.5%;
}

.site-nav-categories-link {
  display: inline-block;
  width: 100%;
  padding: 25px 0;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  background: url("../img/page-baner.jpg") center no-repeat;
}

.crumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  margin-bottom: 50px;
}

.crumbs-item {
  margin-right: 8px;
  color: #818690;
}

.crumbs-item:last-child {
  margin-right: 0;
  color: #000;
}

.crumbs-item-link {
  margin-right: 5px;
  font-size: 14px;
}

.crumbs-item:last-child .crumbs-item-link {
  pointer-events: none;
  cursor: default;
}

.crumbs-item-icon {
  font-size: 16px;
}

.crumbs-item:last-child .crumbs-item-icon {
  display: none;
}

.catalog-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f8f8fc;
}

.catalog-categories {
  position: relative;
}

.catalog-categories-title {
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 600;
  color: #818690;
}

.catalog-categories-title:not(:last-child) {
  border-right: 1px solid #edf0f59c;
}

.catalog-categories-title:hover {
  background-color: #edf0f5;
}

.catalog-categories-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 20px;
  background-image: url("../img/icons/biger-icon.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.catalog-categories-list {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 120%;
  padding: 15px;
  background-color: #fff;
  z-index: 99;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.catalog-categories-list.active {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.catalog-categories-item {
  color: #818690;
}

.catalog-categories-link {
  font-size: 18px;
  line-height: 36px;
  font-weight: 300;
}

.catalog-section-count {
  text-align: left;
  font-size: 14px;
  margin-bottom: 30px;
}

.product-page .site-nav {
  border: none;
}

.product-page .crumbs-list {
  margin: 0;
}

.product-page-card {
  margin-bottom: 50px;
}

.product-page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin-bottom: 30px;
}

.product-page-item-slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  min-width: 0;
}

.product-page-image {
  text-align: center;
  padding: 15px;
}

.product-page-img {
  max-width: 60%;
}

.product-page-slider-navigation {
  display: none;
  height: 20px;
}

.product-minislider-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-minislide {
  text-align: center;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s easy 0s;
  -o-transition: opacity 0.3s easy 0s;
  transition: opacity 0.3s easy 0s;
}

.product-minislide.swiper-slide-thumb-active {
  opacity: 1;
}

.product-minislide-image {
  cursor: pointer;
}

.product-page-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  padding: 30px;
  text-align: left;
}

.product-page-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 1;
  font-weight: 600;
}

.product-page-opinion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.product-page-feedback-link {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 300;
  text-decoration: underline;
}

.product-page-price {
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: 600;
}

.product-page-volume {
  display: inline-block;
  margin-bottom: 15px;
  padding: 5px 10px;
  border: 1px solid #d1d6db;
  border-radius: 3px;
}

.product-page-article {
  margin-bottom: 30px;
}

.product-page-article-number {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #818690;
}

.product-page-article-availability {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #19bb88;
}

.product-page-form {
  margin-bottom: 20px;
}

.product-page-form-input {
  display: inline-block;
  height: 100%;
  max-width: 75px;
  padding: 5px 10px 5px 20px;
  margin-right: 15px;
  border: 1px solid #d1d6db;
  border-radius: 30px;
  font-size: 18px;
}

.product-page-favorites {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.product-page-favorites-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-image: url("../img/icons/favorites.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.product-page-favorites-text {
  text-decoration: underline;
}

.product-page-favorites-text:hover {
  text-decoration: none;
}

.product-page-use-text:not(:last-child) {
  margin-bottom: 10px;
}

.product-page-description {
  padding: 30px 0;
  margin-bottom: 50px;
  background-color: #f6f8fb;
}

.product-page-description-text {
  max-width: 60%;
  margin: 0 auto 20px;
  text-align: center;
  line-height: 24px;
}

.section-subtitle {
  max-width: 60%;
  margin: 0 auto 20px;
  font-weight: 600;
}

.product-page-description-list {
  max-width: 60%;
  margin: 0 auto;
}

.product-page-description-listitem {
  list-style-type: disc;
  margin-left: 15px;
  margin-bottom: 20px;
}

.product-page-structure {
  margin-bottom: 50px;
}

.product-page-suitable-container {
  padding: 0 0 50px;
  overflow: hidden;
}

.product-page-suitable-slider {
  min-width: 0;
  padding: 20px 10px;
  overflow: visible;
}

.product-suitable-navigation {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-suitable-navigation .swiper-button-prev,
.product-suitable-navigation .swiper-button-next {
  z-index: 0;
}

.product-page-feedback-list {
  max-width: 80%;
  margin: 0 auto 30px;
}

.product-page-feedback-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-page-feedback-username {
  margin: 15px 15px 15px 0;
  font-weight: 600;
}

.product-page-feedback-date {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-weight: 300;
  text-align: right;
  color: #818690;
}

.product-page-feedback-text {
  padding-bottom: 20px;
  border-bottom: 1px solid #e8eaec;
  font-size: 14px;
}

.product-page-feedback-answer {
  margin-left: 50px;
}

.product-page-feedback-form {
  max-width: 80%;
  margin: 0 auto 50px;
}

.feedback-form-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.feedback-form-rating-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
}

.feedback-form-rating-star {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-form-rating-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/star-empty.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.feedback-form-textarea {
  display: block;
  width: 100%;
  height: 200px;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
}

.feedback-form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 20px;
}

.feedback-form-input {
  min-width: 45%;
  padding: 15px;
  border: 1px solid #e4e4e4;
  border-radius: 30px;
}

.btn-feedback {
  text-align: center;
  margin: 0 auto;
}

/*=====Breakpoints====*/

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }

  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }

  .baner-description {
    padding: 20px;
  }

  .baner-description-title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
  }

  .baner-description-text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px;
  }

  .subscription-title {
    text-align: center;
  }

  .popup-content {
    max-width: 70%;
    padding: 20px;
  }

  .popup-title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .popup-product-price-row {
    margin-bottom: 10px;
  }

  .popup-product-price-rub {
    font-size: 20px;
  }

  .popup-product-volume {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .popup-product-description {
    margin-bottom: 10px;
  }

  .popup-product-description-link {
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 14px;
  }

  .popup-product-description-text.active {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 1.3;
  }

  .popup-product-form {
    margin-bottom: 15px;
  }

  .popup-product-favorites-icon {
    width: 12px;
    height: 12px;
  }

  .footer-info-link {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .footer-info-link-icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .btn {
    min-width: 170px;
  }

  .baner,
  .catalog-section,
  .sets,
  .social-army,
  .company {
    margin-bottom: 50px;
  }

  .main-nav-submenu {
    display: none;
  }

  .site-nav-categories {
    display: block;
  }

  .baner-container-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .baner-description {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .baner-description-text {
    text-align: center;
  }

  .product-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    padding: 16px;
  }

  .product-item:hover .product-hov {
    display: none;
  }

  .hide-span,
  .quick-view-btn {
    display: none;
  }

  .social-army-invite {
    padding: 20px;
  }

  .subscription-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscription-title {
    margin-bottom: 15px;
  }

  .company-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .compani-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .company-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .company-logo-desription {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }

  .footer-info-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(30% - 20px);
            flex: 0 0 calc(30% - 20px);
    margin-right: 20px;
  }

  .popup-content {
    max-height: 100%;
    padding: 10px;
  }

  .catalog-title {
    padding: 125px 0;
    font-size: 50px;
  }

  .site-nav {
    padding: 0;
  }

  .site-nav-crumbs {
    display: none;
  }

  .catalog-filters {
    display: none;
  }

  .product-page-slider-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .product-minislider {
    display: none;
  }

  .product-page-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .product-page-suitable-slider {
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }

  .btn {
    min-width: 130px;
  }

  .burger {
    display: inline-block;
    margin-right: 20px;
    z-index: 9999;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 999;
  }

  .header-top__content {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .header-top__content-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15px;
  }

  .header-top__content-left a {
    margin: 0;
  }

  .header-top__content-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0 15px;
  }

  .header-top__content-right li {
    width: 100%;
  }

  .header-top__content-right .animated-link {
    margin: 0;
  }

  .header-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 10px 15px;
  }

  .header-content__search form {
    max-width: 200px;
  }

  .search-input {
    max-width: 150px;
  }

  .header-content__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    text-align: right;
  }

  .header-content__logo a {
    display: inline-block;
    max-width: 100px;
  }

  .main-nav.active {
    left: 0;
  }

  .main-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: auto;
    height: auto;
    padding: 20px;
    border: none;
    background-color: #f6f8fb;
    text-align: right;
    overflow: auto;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    z-index: 999;
  }

  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .main-nav .main-nav-link,
  .main-nav .animated-link {
    display: block;
    padding: 8px 0;
    border-bottom: 0.5px solid #969696;
    font-size: 16px;
  }

  .main-nav .call-back-link {
    display: none;
  }

  .main-nav .call-back-link.active {
    display: block;
  }

  .main-nav__list-item a:after {
    display: none;
  }

  .main-nav__list-item a:before {
    display: none;
  }

  .main-nav-icons {
    padding: 0 15px 8px 0;
  }

  .enter-button {
    margin-left: 15px;
  }

  .enter-button-fav {
    display: none;
  }

  .tel-icon {
    max-width: 27px;
    margin-left: 15px;
  }

  .baner {
    margin-top: 70px;
  }

  .baner-description {
    padding: 15px;
  }

  .baner-description-title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 24px;
  }

  .baner-description-text {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .product-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10px;
  }

  .product-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 20px);
            flex: 0 0 calc(50% - 20px);
    padding: 0;
    margin-bottom: 15px;
  }

  .product-rating-star {
    height: 14px;
  }

  .product-name {
    font-size: 12px;
    line-height: 14px;
  }

  .product-description {
    font-size: 12px;
    line-height: 14px;
  }

  .product-price {
    margin-bottom: 10px;
    line-height: 14px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .popup-title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .popup-input {
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .call-back-text {
    margin-bottom: 10px;
  }

  .call-back-btn {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 14px;
  }

  .sets-catalog-item {
    margin-bottom: 6px;
  }

  .sets-card {
    padding: 10px;
  }

  .sets-catalog-item-img {
    margin: 0 auto 15px;
  }

  .sets-catalog-item-name {
    font-size: 12px;
  }

  .sets-catalog-item-price {
    font-size: 14px;
  }

  .sets-catalog-big .sets-card {
    padding: 20px 10px 10px;
  }

  .sets-catalog-big .sets-catalog-item-img {
    margin: 0 auto 20px;
  }

  .sets-catalog-item-2 .sets-card:not(:last-child) {
    margin-bottom: 6px;
  }

  .social-army-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscription-input {
    padding: 10px 20px;
  }

  .subscription-agreement-form {
    font-size: 12px;
  }

  .company {
    margin-bottom: 0;
  }

  .company-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .compani-column {
    text-align: center;
  }

  .company-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .company-logo-img {
    display: none;
  }

  .company-logo-desription {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }

  .footer-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0;
  }

  .footer-nav-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 20px);
            flex: 0 0 calc(50% - 20px);
  }

  .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-info-item {
    margin-bottom: 15px;
  }

  .footer-info-title {
    margin-bottom: 10px;
    font-size: 12px;
  }

  .authorization-oneclick {
    margin-bottom: 0;
  }

  .oneclick-link {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }

  .catalog-baner {
    margin-top: 70px;
  }

  .catalog-title {
    padding: 100px 0;
    font-size: 30px;
  }

  .product-page-content {
    margin-top: 70px;
  }

  .product-page-suitable-slider .product-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 500px) {
  .section-title {
    padding: 15px;
  }

  .registration-btn {
    margin-left: 0;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .product-page-title {
    font-size: 25px;
  }

  .product-page-opinion {
    margin-bottom: 20px;
  }

  .product-page-price {
    font-size: 28px;
  }

  .product-page-card {
    margin-bottom: 0;
  }

  .product-page-description {
    margin-bottom: 0;
  }

  .product-page-description-text {
    max-width: 100%;
    line-height: 18px;
  }

  .section-subtitle {
    text-align: center;
  }

  .product-page-description-list {
    max-width: 90%;
  }

  .product-page-feedback-list {
    max-width: 100%;
    padding: 0 15px;
  }

  .product-page-feedback-head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .product-page-feedback-username {
    margin: 0 15px 0 0;
  }

  .product-page-feedback-date {
    margin-top: 10px;
    font-size: 10px;
  }

  .product-page-feedback-text {
    margin: 10px 0;
    font-size: 12px;
  }

  .feedback-form-inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .feedback-form-input:not(:last-child) {
    margin-bottom: 15px;
  }
}
@supports (-webkit-appearance:none){
.enter-button-icon-auth{background-image:url("../img/icons/authorization.svg")}
.enter-button-icon-fav{background-image:url("../img/icons/favorites.svg")}
.enter-button-icon-cart{background-image:url("../img/icons/cart.svg")}
.product-favorite-icon{background-image:url("../img/icons/favorites.svg")}
.add-to-cart-icon{background-image:url("../img/icons/cart.svg")}
.quick-view-btn-icon{background-image:url("../img/icons/eye.svg")}
.social-army-icon{background-image:url("../img/icons/inst-white.svg")}
.inst{background-image:url("../img/icons/inst.svg")}
.invite-insta-icon:hover .inst{background-image:url("../img/icons/inst-white.svg")}
.vk{background-image:url("../img/icons/vk.svg")}
.invite-others-item-link:hover .vk{background-image:url("../img/icons/vk-white.svg")}
.fb{background-image:url("../img/icons/fb.svg")}
.invite-others-item-link:hover .fb{background-image:url("../img/icons/fb-white.svg")}
.twit{background-image:url("../img/icons/twit.svg")}
.invite-others-item-link:hover .twit{background-image:url("../img/icons/twit-white.svg")}
.footer-info-link:hover .inst{background-image:url("../img/icons/inst-white.svg")}
.footer-info-link:hover .fb{background-image:url("../img/icons/fb-white.svg")}
.footer-info-link:hover .vk{background-image:url("../img/icons/vk-white.svg")}
.footer-info-link:hover .twit{background-image:url("../img/icons/twit-white.svg")}
.popup-product-favorites-icon{background-image:url("../img/icons/favorites.svg")}
.catalog-baner{background:url("../img/page-baner.webp") center center no-repeat}
.site-nav-categories-link{background:url("../img/page-baner.webp") center no-repeat}
.catalog-categories-icon{background-image:url("../img/icons/biger-icon.webp")}
.product-page-favorites-icon{background-image:url("../img/icons/favorites.svg")}
.feedback-form-rating-img{background-image:url("../img/icons/star-empty.webp")}
}

 @media (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 500px){

@supports (-webkit-appearance:none){

}

}
